<div>
  <h1 class="text-3xl tracking-wide text-center">
    Find the best deals on flights now!
  </h1>
  <%= render 'form' %>
</div>
<script>
  const CLIENT_ID = '<%= ENV["CLIENT_ID"] %>';
  const CLIENT_SECRET = '<%= ENV["CLIENT_SECRET"] %>';
</script>
