<h1 class="text-3xl tracking-wide text-center">
  Canoë Flights
</h1>

<div class="bg-white rounded-lg mx-64 my-8 py-4 px-4">
  <h2 class="text-xl font-semibold mb-4">Outbound Flight</h2>
 <% @flights.each do |flight| %>
  <div class="flight-details">
    <% flight.itineraries.each do |itinerary| %>
      <div class="itinerary">
        <p><strong><%= itinerary['segments'].first['departure']['iataCode'] %></strong></p>
        <p class="ml-2">to</p>
        <p class="ml-2"><strong><%= itinerary['segments'].last['arrival']['iataCode'] %></strong></p>
      </div>
    <% end %>
  </div>
<% end %>

</div>
